{
  "app_name": "",
  "envs": {
    "gopath": "",
    "cgo_enabled": false
  },
  "deps": [
    {
      "name": "",
      "repo": "",
      "vcs": "",
      "options": {
        "flags": [],
        "branch": "",
        "version": ""
      }
    }
  ]
}